/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

/* Popups */

.close {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 20px;
  height: 32px;
  opacity: 1;
}

.close:hover {
  opacity: 0.8;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.popup-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  width: 100%;
  height: 100%;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9;
}

.form-container {
  border-radius: 8px;
  max-width: 400px;
  padding: 50px;
  background-color: #28303F;
}

.form-img-container {
  text-align:center;
  width: 100%;
}

.form-container img {
  max-width: 75px;
}

::placeholder {
  color: #dedede;
}

.input-field-container {
  margin: 20px 0 25px 0;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  height: 40px;
  font-size: 13px;
  padding: 15px;
  /*margin: 5px 0 20px 0;*/
  margin: 5px 0 3px 0;
  border: none;
  border-radius: 15px;
  background: #4E5E7B;
  color: white;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  outline: none;
}

.form-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: #4f86c8;
  margin: 0 auto;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  opacity: 1;
}

.small-text {
  font-size: 12px;
}

.change-popup {
  padding: 5px 0 0 0;
  text-align: center;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
}

.form-container .flex-center a {
  margin-left: 3px;
  text-decoration: none;
  color: #4F86C8;
  display: block;
}

.form-container .flex-center a:hover {
  color: #35547a;
}

.form-container a {
  margin-left: 3px;
  text-decoration: none;
  color: white;
  display: block;
}

.form-container a:hover {
  color: #8D8D8D;
}

/*Sidenav*/
.sidenav {
  height: 100%;
  width: 318px;
  position: fixed;
  top: 0;
  background-color: #28303F;
  padding-top: 20px;
}

.sidenav-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidenav a {
  padding: 6px 20px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8D8D8D;
  display: block;
}

.sidenav a:hover {
    color: #ffffff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 16px;
    }
}

.sidenav .user-menu {
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
  background-color: #1d232e;
  padding: 10px 0;
}

.sidenav-bottom a img {
    margin-right: 5px;
}
