.main {
  margin-left: 318px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  /* padding: 0px 10px;*/
}

.toast-message li {
  margin: 0;
  padding: 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
}
